<div class="logo">
    <a [routerLink]="['/']" class="simple-text" title="Go to home">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png" />
        </div>
        CvManager
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <user-menu></user-menu>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <mat-icon>{{menuItem.icon}}</mat-icon> &nbsp;
                <span>{{menuItem.title | translate}}</span>
            </a>
        </li>
    </ul>
</div>