/* You can add global styles to this file, and also import other style files */
.card-title{
    display: inline!important;
}

.mat-dialog-container{
    padding: 0!important;
    box-shadow: none!important;
    background: transparent;
}